.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.full-width {
    width: 100%;
}

.popup {
  margin: 80px auto;
  padding: 1.080%;
  background:radial-gradient(#FFF,#E0E0E0);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup_nouveau_client {
  margin: 100px auto;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 12.8%;
  background:radial-gradient(#FFF,#E0E0E0);
  width: 60%;
  height: auto;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup_nouveau_client h2 {
  margin-top: -1.7%;
  margin-left: -1.7%;
  margin-right: -1.7%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  color: #fff;
  font-family: 'Roboto';
  font-size: 30px;
  background: url('../images/popup_bg.jpg') center;
}

.popup_nouveau_client .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup_nouveau_client .close:hover {
  color: #F44336;
}

.popup_nouveau_client .content {
  max-height: 70%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

.popup_articles {
  margin: 100px auto;
  padding: 1.080%;
  background:radial-gradient(#FFF,#E0E0E0);
  border-radius: 5px;
  width: 30%;
  max-height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

@media (max-width: 767px) {
	.popup_articles {
	  margin: 100px auto;
	  padding: 1.080%;
	  background:radial-gradient(#FFF,#E0E0E0);
	  width: 70%;
	  max-height: 70%;
	  position: relative;
	  transition: all 5s ease-in-out;
	}
}

.popup_articles h2 {
  margin-top: -3.5%;
  margin-left: -3.5%;
  margin-right: -3.5%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  color: #fff;
  font-family: 'Roboto';
  font-size: 30px;
  background: url('../images/articles_bg.jpg') left center;
}

@media (max-width: 767px) {
	.popup_articles h2 {
	  margin-top: -3.5%;
	  margin-left: -1.5%;
	  margin-right: -1.5%;
	  padding-bottom: 5%;
	  padding-top: 5%;
	  padding-left: 5%;
	  color: #fff;
	  font-family: 'Roboto';
	  font-size: 30px;
	  background: url('../images/articles_bg.jpg') left center;
	}
}

.popup_articles .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup_articles .close:hover {
  color: #F44336;
}

.popup_articles .content {
  max-height: 50%;
  overflow-y: auto;
  overflow-x: auto;
  font-family: 'Roboto', sans-serif;
}

.popup h2 {
  margin-top: -3.5%;
  margin-left: -3.5%;
  margin-right: -3.5%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  color: #fff;
  font-family: 'Roboto';
  font-size: 30px;
  background: url('../images/version_bg.gif') left center;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #F44336;
}
.popup .close:hover {
  color: #E53935;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}