#btnControles{
	width: 140px; 
	height:36px; 
	background-color:#00BCD4; 
	color:#FFFFFF; 
	border:none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-weight: 500;
}

#btnControles:focus{
	outline:none;
}

#listControles{
	min-width:140px;
	width:140px;
}

.dropdown-menu>li:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu>li{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

a:hover, a:active, a:focus{
	text-decoration: none;
}

a{
	font-weight: 500;
}