.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.aside {
  position:absolute;
  right: 0;
  bottom: 0px;
  z-index: 1;
  height:245px;
  width: 100%;
  background-color: rgb(0,0,0);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

#aside-ctrl:checked ~ .aside {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.aside-ctrl--label {
  position: absolute;
  top: -36px;
  right: 41%;
  padding: 10px;
  background-color:#00BCD4;
  color:#FFFFFF;
  cursor: pointer;
  border-radius:2px;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}

.aside-ctrl--label::before {
  content: '▲ MESURES RELEVÉES EN MILLIMÈTRES ▲';
}

#aside-ctrl:checked ~ .aside .aside-ctrl--label::before {
  content: '▼ MESURES RELEVÉES EN MILLIMÈTRES ▼';
}

.aside-ctrl--reset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body {
  margin: 0;
  overflow-x: hidden;
}